* {
    margin: 0;
    padding: 0;
}

/* nav css start here */
nav {
    display: flex;
    width: 80vw;
    justify-content: center;
    justify-items: center;
    justify-content: space-around;
    height: 20px;
    margin: auto;
    padding: 18px 0px;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    list-style: none;
    margin: 0px 33px;
}

ul li a {
    text-decoration: none;
    color: #575757;
}

.common-btn {
    background: #1D4ED8;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    width: 110px;
    height: 25px;

}

nav div img {
    height: 27px;
}

/* nav css end here */

/* banner section start */

.banner-img {

    width: 100vw;
    height: 80vh;
    margin: auto;
    margin-top: 12px;

}

.banner {
    position: relative;
    display: inline-block;

}

.banner-text {
    color: #FFFFFF;
    position: absolute;
    top: 13%;

    text-align: center;

    ;
}

.banner-btn {
    margin: 44px;
    bottom: 13%;
}

.banner-text p {
    margin: 6px 120px;

}

/* banner section end */

/* speakers section start */
.speaker-section{
    max-width: 1200px ;
}
.developers{
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.developers img{
    height: auto;
    width: 266px;
    object-fit: cover;
}
.speaker-section h2{
    text-align: center;
}
h6{
    color: #2563EB;

}
/* .developers div p{
    color:#bebebe ;
    border-radius:6px 6px 0px 0px ;
} */
.developers div img{
    border-radius: 6px 6px 0px 0px ;
    
}
/* .developers div{
    border: 1px solid rgb(182, 182, 182);
} */
/* speakers section end  */